NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_BOOKS_API_KEY=
OPENALEX_API_KEY=
OPENALEX_EMAIL=
GOOGLE_OAUTH_CLIENT_ID=279889716172-f7ofoegc5n3fkotk4dmnfpbjee9v1cjk.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=
PAYMENT_API_KEY=
PAYMENT_WEBHOOK_SECRET=
NEXT_PUBLIC_SITE_URL=
